# macOS
.DS_Store

# Logs
logs/
*.log

# Env files
.env
.env.*

# Minecraft server data (wird via Volumes gemountet, aber falls lokal)
world/
world_nether/
world_the_end/
backups/

# Editor/IDE
.vscode/
.idea/
